/*aboutMe*/
.me {
	width: 60%;
	margin-bottom: 6em;
}

.me #me {
	width: 20%;
	border-radius: 15%;
	display: block;
	border-left: 1em solid white;
	border-right: 1em solid white;
}

.me button {
	background: none;
	display: block;
	border: none;
	font-size: 2em;
	color: #666;
	font-family: 'Rakkas', cursive;
}

.me button:hover {
	color: darkOrange
}

.me p {
	display: none;
}
