/*aboutMe*/


.me {
	width: 30pc;
	margin-left: 35%;
	margin-bottom: 6em;
}

#imgME{
	height: 20pc;
	width: 15pc;	
	background: url("http://www.anotherblogblog.co.uk/img/mainImg/Me.jpg") no-repeat top center;
	background-size: 100%;
	border-radius: 5%;
	float: left;
	border-left: 1em solid white;
	border-right: 1em solid white;
}

.me button {
	background: none;
	border: none;
	font-size: 2em;
	color: #666;
	font-family: 'Rakkas', cursive;
}

.me button:hover, button:active, button:focus{
	color: darkOrange
}

.me p {
	padding-left: 50px;
	display: none;
}