/*
Title: Blog Content Display
Author: Mr. Brompton 
*/

#contentWrapper {
	background-color: #eee;
}

#contentDisplay {
	width: device-width;
	text-align: center;
}

.contentImg {
	height: 200px;
	width: 200px;
	border-radius: 5%;
}


.contentItem {
	background-color: #fff;
	width: 22%;
	height: 25em;
	margin-top: .5%;
	display: inline-block;
	border-left: 10px solid #666;
	overflow: hidden;
}

.contentItem:hover, .contentItem:active, .contentItem:focus {
	background-color: #eee;
	border-left: 10px solid darkOrange;
}

h2 #catTitle {
	text-decoration: center;
}