/*
Title: Blog Content Display
Author: Mr. Brompton 
*/

#contentWrapper {
	background-color: #eee
}

#contentImg {
	height: 200px;
	width: 200px;
}
#contentDisplay {
	width: device-width;
	height: 500px;
	border-bottom: 1px solid darkOrange;
	text-align: center;
	overflow: scroll;
}

a {
	text-decoration: none;
}

#contentItem {
	background-color: #fff;
	width: 22%;
	height: 90%;
	margin-top: .5%;
	display: inline-block;
	border-left: 10px solid #666;
}

#contentItem:hover {
	background-color: #eee;
	border-left: 10px solid darkOrange;
}