@import url('https://fonts.googleapis.com/css?family=Raleway');

.blogPost {
	width: 74%;
	margin-left: 13%;
}

.title {
	font-weight: bold;
	font-size: 2em;
}

.intro {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

#feature {
	border-radius: 2px;
	box-shadow: 1px 2px 2px #666;
	width: 80%;
	margin-left: 10%;
}

.content{
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

#contentPic {
	width: 60%;
	margin-left: 20%;
	border-radius: 2px;
	box-shadow: 1px 2px 2px #666;
}

#blogLink {
	color: darkOrange;
	text-decoration: none;
	text-shadow: 5px 5px 5px rgba(200, 200, 200, 0.7);
}

#blogLink:hover {
	color: #666;
}