/*
Title: ABB clean content
Author: Mr. Brompton 
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

.post {
	margin-top: 5em;
	margin-bottom: 3em;
	width: 60%;
	margin-left: 20%;
	min-height: 10em;
}

.title {
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}

.content{
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

.intro {
	font-weight: bold;
}

#feature {
	border-radius: 2px;
	box-shadow: 1px 2px 2px #666;
	width: 50%;
	margin-left: 25%;
}

#blogLink {
	color: darkOrange;
	text-decoration: none;
	text-shadow: 5px 5px 5px rgba(200, 200, 200, 0.7);
}

#blogLink:hover {
	color: #666;
}

.fb-share-button {
	display: inline;
}

#quot {
	text-decoration: italics;
	text-align: center;
	font-weight: bold;
}
#ref {
	text-decoration:none;
	font-weight: normal;
	text-align: right;
}