/*
Title: ABB clean main
Author: Mr. Brompton 
*/

/*GLOBAL*/
#ad {
	position: fixed;
	right: 0;
	top: 25%;
}

a {
	text-decoration: none;
	color: #666;
	text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.7);
	outline: 0;
}

body {
	font-family: 'Yatra One', cursive;
}

h2 {
	text-align: center;
}
/*nav*/
nav {
	text-align: center;
	position: fixed;
    top: 0;
	border-bottom: 1px solid #ddd;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 3%;
}
.navSpace {
	height: 2em;
}

nav a {
	font-family: 'Rakkas', cursive;
	font-size: 1.5em;
	color: #666;
}
nav a:hover a:active a:focus{
	color: darkOrange;
	text-shadow: 1px 1px 1px black;
}

nav #navMain {
	font-size: 2em;
	color: darkOrange;
	padding-left: 2em;
	padding-right: 2em;
}

/*fafabuttons*/
.fa-hand-o-down {
	margin-left: 47.5%;
	color:darkOrange;
	font-size: 2em;
	text-shadow: 1px 0px 0px black;
	padding: 1em;
}

.fa-hand-o-down:hover .fa-hand-o-down:hover .fa-hand-o-down:focus{
	color: black;
}

/*footer*/
footer {
	height: 10em;
	background-color: #bbb;
	width: 100%;
	text-align: left;
	box-shadow: 0 -1px 2px 0px black;
	padding: 0 10px !important;
	margin: 0 !important;
	position: absolute;
	left: -5px; !important;
}

footer table {
	width: 100%;
	padding-top: 1em;
}

footer table tr {
	
}

footer table tr td {
	padding-left: 2em;
	padding-right: 4em;
	font-family: Courier;
}

footer thead {
	color: darkOrange;
	font-weight: bold;
}

footer a:hover a:active a:focus {
	text-decoration: underline;
}

/*topics*/
.topics {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	text-align: center;
	font-size: 1.5em;
}
.topics a:hover a:active a:focus {
	color: darkOrange;
}
