.cover {
  height: 500px;
  position: relative;
  top: -55px;
  width: 100%;
  background: url("img/Paceholder.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.posts {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 10px auto;
  padding: 20px 10%;
  text-align: center;
}

.posts img {
	float: left;
  width: 500px;
  height: 500px;
}

.products .btn:hover {
	color: black;
	box-shadow: 1px 1px 3px black;
}