	/*Content Styling */
.content{
	background-color: rgba(200, 200, 200, 0.9);
	width: 75%;
	display: inline-block;
	text-align: center;	
	overflow: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.content p {
	text-align: left;
	border-left: 50px;
}

.content .containerLeft {
	overflow: auto;
}

.content .containerRight {
	overflow: auto;
	padding-left: 25px;
}

.content .containerLeft:hover {
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.9);
	
}

.content .containerRight:hover {
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.9);
}

.content .containerLeft img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	float: left;
	padding: 25px;

}

.content .containerRight img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	float: right;
	padding: 25px;
	
}


	
	/*Page Formatting p, a, and h's*/
.container {
	width: 96%;
	white-space: 1px;
	margin: 1px;
}	
	
h1 {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
  text-shadow: 3px 0px 5px black;
}

h2 {
  color: orange;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}
h5 {
	font-family: 'Abel', sans-serif; 
}
h6 {
  text-align: center;
  font-family: 'Abel', sans-serif;
}
p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

	/*coverImage*/
.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 200px;
  width: 70%;
}


#cover {
	height: 550px;
	position: relative;
	top: -55px;
	width: 100%;
	background: url("img/background1.png") no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
}
#cover:hover {
	height: 550px;
	position: relative;
	top: -55px;
	width: 100%;
	background: url("img/background2.png") no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

	/*background*/

body {
  background-color: #666;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  }

	/*navbar*/

.navigation {
  background-color: rgba(200, 200, 200, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid black;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#logo {
  color: orange;
  opacity: 0.9;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 25px;
  font-weight: bold;
}

