	/*Buttons*/
.btn {
  border-radius: 5%;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 10px 26px 10px 26px;
}
.btn:hover {
	color: black;
	box-shadow: 1px 1px 3px black;
}


	/*Content Styling */
	
.blue {
  color: #14213D; 
}

.contentSuggestL {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: left;
  width: 100%;
  white-space: 2%;
}

.contentSuggestL img {
  
  height: 25%;
  float: left;
  margin-left: 3%;
  white-space: 2%;
}
.contentSuggestL #text {
	float: left;
	width: 50%;
	margin-left: 3%;
	white-space: 2%;
}

.contentSuggestR {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: right;
  width: 100%;
  white-space: 2%;
}

.contentSuggestR img {
   height: 25%;
  float: right;
  margin-right: 3%;
  white-space: 2%;
}
.contentSuggestR #text {
	float: right;
	width: 50%;
	margin-right: 3%;
	white-space: 2%;
}



	/*Page Formatting p, a, and h's*/

h1 {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
  text-shadow: 3px 0px 5px black;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}
h5 {
	font-family: 'Abel', sans-serif; 
}
h6 {
  text-align: center;
  font-family: 'Abel', sans-serif;
}
p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

	/*coverImage*/

#cover {
	height: 600px;
	position: relative;
	top: -55px;
	width: 100%;
	background: url("img/background1.png") no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
}
#cover:hover {
	height: 600px;
	position: relative;
	top: -55px;
	width: 100%;
	background: url("img/background2.png") no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}
/*Version 1 */

	/*background*/

body {
  background-color: #666;
  margin: 0;
  padding: 0;
  width: 100%;
  }

	/*navbar*/

.navigation {
  background-color: rgba(200, 200, 200, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid black;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#logo {
  color: orange;
  opacity: 0.9;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 25px;
  font-weight: bold;
}


	/*coverImage*/
.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

