li {
	color: #14213D;
	font-family: 'Abel', sans-serif;
	font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
  border-left: 4px;
}
#quote li {
	color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
  border-left: 4px;
}
#quote ul {
	padding: 0px;
}

.cover {
  height: 500px;
  position: relative;
  top: -55px;
  width: 100%;
  background: url("img/Paceholder.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px 3px white;
}

.posts {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 10px auto;
  padding: 20px 10%;
  text-align: center;
}
.posts li {
	color: #14213D;
	font-family: 'Abel', sans-serif;
	font-weight: 300;
	margin: 16px 20px;
	text-transform: uppercase;
	border-left: 4px;
}
.posts #blogMainImage img {
	float: left;
    width: 50%;
}

.posts p img {
	height: 2pc;
}

.products .btn:hover {
	color: black;
	box-shadow: 1px 1px 3px black;
}


.btn1 {
  border-radius: 5%;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 10px 26px 10px 26px;
  width: 40%;
  display: inline-block;
}
a .btn1 {
	color: #FFF;
}

.btn1:hover {
	color: black;
	box-shadow: 1px 1px 3px black;
}


.posts h3 a {
  color: #142137; !important
}

.posts h3 a:hover {
	color: white;
	text-shadow: 1px 1px 3px black;
}
