<!DOCTYPE html>
<html>
<head>
	<title>New HomePage</title>
	<link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<!--navBar-->
<div class="navigation">
	<ul>
		<a href="index.html"><li>Home</li></a>
		<a href="#"><li>...</li></a>
		<a href="index.html"><li id="logo">Main Title</li></a>
		<a href="#"><li>...</li></a>
		<a href="Contact/index.html"><li>Contact</li></a>
    </ul>
</div>
<!--endNavBar-->

<!--cover-->
<div id="cover">
	<div class="cover-content">
		<h1>...</h1>
		<h2>...</h2>
		<a href="#" class="btn">...mainPromoBtn...</a>
    </div>
</div>
<!--endCover-->

<!--contentArea-->
<div class="content">
	<h3 class="blue">...</h3>
	<div class="product">
		<a href="#">
			<img src="img/500placeholder.png">
		</a>
      <h3>...Product...</h3>
      <p>...Description...</p>
      <h4>...Price...</h4>
      <a href="http://www.brompton.tk/blog/my-first-blog-post-another-blog-blog-introduction" class="btn">Read</a>
    </div>
	<div class="product">
		<a href="#">
			<img src="img/500placeholder.png">
		</a>
      <h3>...Product...</h3>
      <p>...Description...</p>
      <h4>...Price...</h4>
      <a href="http://www.brompton.tk/blog/my-first-blog-post-another-blog-blog-introduction" class="btn">Read</a>
    </div>
	<div class="product">
		<a href="#">
			<img src="img/500placeholder.png">
		</a>
      <h3>...Product...</h3>
      <p>...Description...</p>
      <h4>...Price...</h4>
      <a href="http://www.brompton.tk/blog/my-first-blog-post-another-blog-blog-introduction" class="btn">Read</a>
    </div>
	<div class="product">
		<a href="#">
			<img src="img/500placeholder.png">
		</a>
      <h3>...Product...</h3>
      <p>...Description...</p>
      <h4>...Price...</h4>
      <a href="http://www.brompton.tk/blog/my-first-blog-post-another-blog-blog-introduction" class="btn">Read</a>
    </div>
	
</div>

<!--endContentArea-->



<!--footer-->
<h3>All of my blogs are built with love in Southampton, United Kingdom</h3>
<h6> image sources: https://pixabay.com/p-428954/?no_redirect , https://pixabay.com/p-769737/?no_redirect </h6>
<!--endFooter-->
  
  
<!--analytics-->  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87657436-1', 'auto');
  ga('send', 'pageview');

</script>
<!--endAnalytics-->
</body>
</html> 
