	/*Recent Update Styling */
.content{
	background-color: rgba(200, 200, 200, 0.9);
	width: 75%;
	display: inline-block;
	text-align: center;	
	overflow: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.content p {
	text-align: left;
	border-left: 50px;
}

.content .containerLeft {
	overflow: auto;
}

.content .containerRight {
	overflow: auto;
	padding-left: 25px;
}

.content .containerLeft:hover {
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.9);
	
}

.content .containerRight:hover {
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.9);
}

.content .containerLeft img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	float: left;
	padding: 25px;

}

.content .containerRight img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	float: right;
	padding: 25px;
	
}
