/*univeral styles*/
@import url('https://fonts.googleapis.com/css?family=Kreon|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Oswald');
body a {
	text-decoration: none;
	color: #5b5b5b;
}

body a:hover{
	color: darkOrange;
}
body {
	max-width: 100%;
	margin-right: 0;
	padding: 0;
	white-space: 0;
}

h1 {
	font-family: 'Kreon', serif;    
}
h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
}
p, ul, li {
	font-family: 'Ubuntu', sans-serif;
	list-style: none;
}
.contentContainer {
	min-height: 25em;
	width: 90%;
	max-width: 100%;
	padding: 2em;
	padding-bottom: 10px;
}
