.cover {
  height: 600px;
  position: relative;
  top: -55px;
  width: 100%;
  background: url("img/bbackground.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}


.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

.blogs {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.blog {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.product img {
  width: 80%;
}

.blue {
  color: #14213D !important
}

.content a:hover {
	box-shadow: 1px 1px 3px black;
	color: black;
}