	/*Buttons*/
.btn {
  border-radius: 5%;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 10px 26px 10px 26px;
}
.btn:hover {
	color: black;
	box-shadow: 1px 1px 3px black;
}
