	/*Game Style*/
canvas {
	border: 1px solid white;
	background:url(../img/bg.jpg);
	cursor: none;
}	
	/*End game Style*/

	/*Global Style*/

html{
	min-height: 100%;
	overflow-y: scroll;
}

body {
	font-family: 'Oxygen Mono', monospace;
	color: #ddd;
	min-height: 100%;
	background-image: url('img/bg.jpg');
	background-color: black;
}

body a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px white;
}

body a:hover {
	text-decoration: none;
	color: #000;
	text-shadow: 2px 2px 2px white;
}

body .content {

}

body .content a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
body li {
	text-decoration: none;
	list-style: none;
} 

body hr {
	color: #000;
}

body .main img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top: 3%;
}

	/*End Global Style*/
