<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    </head>
  <body>
    {% if page.url == "/" %}<img src="{{ site.url }}/assets/img/OIG2.jpeg" alt="Mr Brompton's Logo, a black background with white techy things surrounding a hat, sunglasses and tie">{% endif %}
    {% include nav.html %}
      <div class="text">
        <br><br><br>
      {{ content }}
          {% if page.url != "/" %}<img src="{{ site.url }}/assets/img/OIG2.jpeg" alt="Mr Brompton's Logo, a black background with white techy things surrounding a hat, sunglasses and tie">{% endif %}
    </div>
  </body>
</html>
