<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    </head>
  <body>
    {% include nav.html %}
    {% if page.url == "/" %}
      <img src="{{ site.url }}/assets/img/OIG2.jpeg" class="logo" alt="Mr Brompton's Logo, a black background with white techy things surrounding a hat, sunglasses and tie">
    {% endif %}
      <div class="text">
        <br><br><br>
        <div class="content">
          {{ content }}
        </div>
          {% if page.url != "/" %}<img src="{{ site.url }}/assets/img/OIG2.jpeg" class="logo" alt="Mr Brompton's Logo, a black background with white techy things surrounding a hat, sunglasses and tie">{% endif %}
    </div>
  </body>
</html>
